@tailwind base;
@tailwind components;
@tailwind utilities;

.form-border {
  box-shadow: inset 0 -100px 0 -99px #919197;
}
.form-focus:focus {
  box-shadow: inset 0 -100px 0 -97px #2d3748;
}
.form-error {
  box-shadow: inset 0 -100px 0 -99px #d5351f;
}
