@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.form-border {
  box-shadow: inset 0 -100px 0 -99px #919197;
}
.form-focus:focus {
  box-shadow: inset 0 -100px 0 -97px #2d3748;
}
.form-error {
  box-shadow: inset 0 -100px 0 -99px #d5351f;
}

body,
html {
  font-family: "Inter", sans-serif;
}
